.inputSearch {
    position: relative;
    left: -100px;
}

input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 30px;
    padding-left: 40px;
    width: 400px;
    border-radius: 10px;
    font-size: 15px;

    
}

.searchIcon {
    width: 30px;
    position: absolute;
    top: 6px;
    right: 0px;
    left: 0px;
    padding: 5px;
    opacity: 0.5;
    cursor: pointer;

}
.across{
    width: 30px;
    position: absolute;
    top: 3px;
    right: 0px;
    padding: 5px;
    opacity: 0.5;
    cursor: pointer;
}